@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    /* Top Navigation Bar */
    .top-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #8b5e3c;
      color: white;
      padding: 10px 20px;
    }

    .top-nav .logo {
      font-size: 22px;
      font-weight: bold;
    }

    .nav-icons a {
      color: white;
      text-decoration: none;
      margin-right: 200px;
      font-size: 18px;
    }

    .search-bar {
      text-align: center;
      margin: 20px 0;
    }

    .search-bar input[type="text"] {
      padding: 8px;
      width: 300px;
    }

    .search-bar input[type="submit"] {
      padding: 8px 14px;
      background-color: #8b5e3c;
      color: white;
      border: none;
      cursor: pointer;
    }

    h2 {
      text-align: center;
      margin-top: 20px;
    }

    /* Product Grid */
    .product-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }

    .card {
      width: 280px;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      background: #fff;
    }

    .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    .card-body {
      padding: 10px;
    }

    .product-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
    }

    .desc {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .price {
      color: green;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .btn-group a {
      display: inline-block;
      padding: 6px 12px;
      margin: 2px;
      border: none;
      border-radius: 4px;
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
    }

    .btn-buy {
      background-color: #800000;
      color: white;
    }
    .btn-list {
      background-color: #deaa88;
      color: white;
    }

    .btn-card {
      background-color: #965a3e;
      color: white;
    }

    .btn-buy:hover, .btn-card:hover,.btn-list:hover {
      opacity: 0.9;
    }

